.top-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 5% 25% 70%;
  background-color: var(--white);
  align-items: center;
  justify-items: left;
  padding: 6px 92px 6px 66px;
}
.top-header__logo {
  height: 50px;
  width: 50px;
  content: "";
  background-image: url("../../assets/icon/logo.svg");
}
.top-header__title {
  font-size: var(--f-frank-35);
  font-weight: 600;
  color: rgb(var(--primary-dark-brown));
}
.top-header__actions-container {
  display: flex;
  justify-self: flex-end;
  gap: 44px;
}
.top-header__actions-container__call-center,
.top-header__actions-container__location {
  display: inline-flex;
  gap: 10px;
}
.top-header__actions-container__call-center::before {
  color: rgb(var(--primary-dark-brown));
  height: 24px;
  width: 24px;
  content: "";
  background: url("../../assets/icon/phone.svg") no-repeat;
}
.top-header__actions-container__location::before {
  color: rgb(var(--primary-dark-brown));
  height: 24px;
  width: 24px;
  content: "";
  background: url("../../assets/icon/location.svg") no-repeat;
}
@media screen and (max-width: 1024px) {
  .top-header {
    grid-template-columns: 50% 50%;
    justify-items: right;
  }
  .top-header__title {
    justify-self: left;
  }
  .top-header__actions-container {
    display: none;
  }
}
