:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: #f4f7f8;
  --white: #fff;
  --black: #000;
  --light-container-grey: #e2e2ea;
  --primary-dark-brown: #663300;
  --primary-lighter-brown: 102 51 0 70%;
  --primary-orangish-brown: #f86338;
  --primary-header-brown: #bd892b;
  --primary-peach: #ffcc99;
  /*btns*/
  --btn-icon-green: #8fbc8f;
  --btn-brown: #bd892b;
  /*accent colors*/
  --accent-green: #00a843;
  --accent-faded-green: #0bd25a;
  --accent-green-blue: #5def97;
  --accent-green-teal: #8fbc8f;
  --accent-light-green: #caf1da;
  /*text colors*/
  --text-dark: #000;
  --text-faded: #9a9ab0;
  --text-blue-black: #001646;
  --text-light-blue-black: #11142d;
  --text-light-grey: #515151;
  /*border colors*/
  --border-inputs: #9a9ab0;

  /* Fonts Header */
  --f-frank-65: 4.063rem;
  --f-frank-55: 3.438rem;
  --f-frank-50: 3.125rem;
  --f-frank-40: 2.5rem;
  --f-frank-35: 2.188rem;
  --f-frank-30: 1.875rem;
  --f-frank-25: 1.563rem;
  --f-ibm-55: 3.438rem;
  --f-ibm-50: 3.125rem;
  --f-ibm-48: 3rem;
  --f-ibm-40: 2.5rem;
  --f-ibm-35: 2.188rem;

  /* Fonts Body */
  --f-ibm-30: 1.875rem;
  --f-ibm-25: 1.563rem;
  --f-ibm-22: 1.375rem;
  --f-ibm-20: 1.25rem;
  --f-ibm-18: 1.125rem;
  --f-ibm-16: 1rem; /*btn 16px*/
  --f-ibm-12: 0.75rem;
  --f-ibm-11: 0.688rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: #f4f7f8;
  }
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  padding: 50px 70px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
a {
  text-decoration: none;
  color: inherit;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
